body {
    background-color: black;
    color: white;
    font-family: monospace
}

a {
    color: white;
}


.nav {
	display: flex;
	gap: 15px;
}

.page {
	background-color: #030303;
	
	width: 100%;
    min-height: 100vh;
	
	display: flex;
    justify-content: center;
    position: relative;

}
